<div class="jumbotron text-center">
    <h1>Welcome to Quizzit!</h1>
    <p>A flashcard application to practice your facts!</p> 
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <p>Log in or Create an Account to access all decks and create your own custom deck.</p>
        </div>
        <div class="col"></div>
        
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Want to Try Out a Deck?</h3>
        <p>Test this one out!</p>
      </div>
    </div>
  </div>