<div class="jumbotron text-center">
    <h1>Welcome to <strong>Quizzit!</strong></h1>
    <p class="lead" style="font-size: 30px">A flashcard application to practice your facts!</p> 
    <hr class="my-4">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <p style="font-size: 24px">Log in or Create an Account</p>
            <p style="font-size: 24px"> to access all decks and create your own custom deck.</p>
        </div>
        <div class="col"></div>
        
    </div>
  </div>
  
  <div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col text-center">
            <h3>Want to Try Out a Deck?</h3>
            <p>Test this one out!</p>
        </div>
        <div class="col"></div>
    </div>
  </div>